<%=h "Welcome #{ User.find(session[:user_id]).username}!" %>
<h1>Listing All the Users</h1>
<h3> To View Complete User Report Click Usernames</h3>
<% @list_users.each {|user| %>
    <%= link_to user.username, :controller => 'admins',:action=>'edit',:user_show_report => user.id%>
    <%=user.email %>
    <%=user.encrypted_password %>
    <td><%= link_to "destroy user", :user_deleted => user.id, :destroy_user => "1" %></td>
    <td><%= link_to "assign role", :assign_role_user => user.id,:assign_role => "1" %></td>
    <td><%= link_to "revoke role", :revoke_role_user => user.id,:revoke_role => "1" %></td>
    <p class="byline"><%= nil %> </p>
<% } %>
<p class="byline"><%= nil %> </p>


<%= link_to "Navigate to Category", :controller => 'categories', :action => 'index' %>




