<h1 xmlns="http://www.w3.org/1999/html">New user</h1>
<% @page_title = "UserAuth | Signup" %>
<div class= "Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>

      <p> Username:</br> <%= f.text_field :username%> </p>

      <p> Email:</br> <%= f.text_field :email%> </p>

      <p> Password:</br> <%= f.password_field :password%></p>

      <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>

      <p> Admin: </br> <%= f.check_box :role  %></p>
      <%= f.submit :Signup %>
      <%= render "homes/index" %>

<% end %>

  <% if @user.errors.any? %>
      <ul class="Signup_Errors">
        <% for message_error in @user.errors.full_messages %>
            <li>* <%= message_error %></li>
        <% end %>
      </ul>
  <% end %>
</div>

