<div id="home">
  <div id="home_header">
    <h1 id="logo_text">BACKCHANNEL APPLICATION</h1>

    <div id="links_home">
      <%= flash[:notice] if flash[:notice]%>
      <p> <% if @mode == 'anonymous' %>
            <%=h link_to "Log In", :controller => 'session', :action => "login" %>
            <%=h link_to "Sign Up" , :controller => 'users', :action => 'new' %>
        <% else %>

            <%=h "Welcome #{ User.find(session[:user_id]).username}!" %>
            <%= link_to "Log out?", :controller => 'session', :action => 'logout' %>
        <% end %>
      </p>
    </div>
    <%= form_tag(:controller => 'homes', :action => "post_create") do %>
        <%= label_tag(:q, "Search") %>    &nbsp;&nbsp; &nbsp;&nbsp;
        <%= text_field_tag(:create_post,nil, :size => "50x1" )  %>
        <%= submit_tag("Search") %>
    <% end %>
  </div>


  <body>

  <div id="post_div">

    <table width=100% height =100>
    <tr class="row-a" width =100%>
      <td class="first" width =100%>

          <%= form_tag(:controller => 'homes', :action => "post_create") do %>
              <%= label_tag(:q, "Post Now") %>    &nbsp;&nbsp; &nbsp;&nbsp;
              <%= text_area_tag(:create_post,nil, :size => "50x3" )  %>
            <%= select(:category_to_pass,nil, Category.find(:all).collect{|m| [m.name,m.id]}) %>
             <%= submit_tag("Create New Post") %>
          <% end %>
      </td>
    </tr>
  </table>

    <% @posts_to_display.each{|posts| %>


        <h2 class="title"><%= link_to "Go to Complete post", :controller => 'posts', :action => 'index',:post_id_from_view => posts.id%></h2>
        <%= posts.content%>

        <h3>Posted by: <%= posts.user_id%>   </h3>
          <p class="byline"><%= time_ago_in_words(posts.created_at)%> ago</p>
    <% } %>
    <%= will_paginate @posts_to_display %>
  </div>

  </body>
  <div id="footer">
    <p> &copy; 2012 <strong>Backchannel Application</strong> | Design by: Ankita, Deepali and Radhika</p>
  </div>
   </div>